.input-set{
    input{
        width: 100%;
    height: 32px;
    border-radius: 6px;
    font-size: 17px;
    padding: 2px 7px;

    &:focus{
        border-color: none;
        outline: none;
    }
    }
    button{
        border: none;
        font-size: 18px;
        height: 35px;
        padding: 0 22px;
        border-radius: 5px;
    }
}
.register-form{
    height: max-content;
    padding: 10px 9px;
    background: #3b669c6e;
    margin-top: 110px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}
.fieldset{
    padding: 25px 12px;
}
.register-container{
    height: 100vh;
    box-sizing: border-box;
    background-image: url("/register.jpg");
    background-size: 100% 100%;
}
 