.chat_list{
    height: calc(100vh - 56px);
    background:rgba(28, 84, 2, 0.53);
    overflow-y:auto;
    padding: 3px 5px;
    .lastSeen-count{
        background: red;
        color: white;
        float: right;
        font-size: 11px;
        border-radius: 4px;
        padding: 0 3px;
    }
}
.userlist_group{
    background: #e0dada;
    font-size: 15pt;
    text-transform: capitalize;
    text-align: left; 
    color: #3e3e3e; 
    border: 5px solid transparent;
    border-top: 1.5px;
    border-bottom: 1.5px;
    margin-bottom: 2.5px;
    cursor: pointer;
    &:hover,&.active{
        background: #3b313d;
        color: white; 
        border-color:  #b59f9f;
    
    }

    .user-name{
        width: calc( 100% - 52px);
        display: inline-block;
        padding-left: 10px;
    }
}

.user-icon{
    background: white;
    color: #c9404f;
    display: inline-block;
    border-radius: 28px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}