.chat_list{
    height: 100vh;
    background: rgba(0, 0, 0, 0.45);
    overflow-y:auto;
}
.userlist_group{
    background: #cac9c5;
    font-size: 15pt;
    text-transform: capitalize;
    text-align: left;
    padding-left: 30px;
    color: #3e3e3e;
    border-radius: 5px;

    &:hover,&.active{
        background: #a5a5a5;
        color: white;
        border: 2px solid #00000054;
    }
}

